@import "../../styles/settings.scss";

.tasks {
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  margin-top: 15px;
}
.root {
  padding: 20px 20px 50px 50px;
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 30px;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      opacity: 0.8;
    }
  }
}
